{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <a href="{{ path('dashboard')  }}"><button>Go To List</button></a>

<div class="example-wrapper">

    <form action="{{ path('update_order_action',{id: order.id}) }}" method="post">

        Client:{{ client.username }}<br>

        <label for="cars">Choose a product:</label>
        <select  name="product">
            {%  for product in products %}
            <option {% if(product.id == order.productId) %} selected {% endif%} value="{{ product.id }}">{{ product.ProductName }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="quantity">Quantity:</label><br>
        <input type="text" id="quantity" name="quantity" value="{{ order.quantity }}"><br>

        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address" value="{{ order.address }}"><br>

        <input type="submit" value="Submit">
    </form>

</div>
{% endblock %}
